@use '../../styles/base' as *

.about-tree
    display: flex
    flex-direction: column
    position: fixed
    top: 50px
    left: 50px
    background-color: $bg-color
    z-index: 2
    width: 254px
    height: calc(100vh - 50px)
    border-right: 1px solid $lines
    border-left: 1px solid $lines
    padding: 4px 0

