.project-details-wrapper
    position: fixed
    width: 35vw
    left: 60vw
    top: 15vh
    display: flex
    flex-direction: column

    .description-wrapper
        will-change: opacity, transform

    .index-scroll-container
        height: 1.2em
        line-height: 14.5px
        width: 1ch
        text-align: center

    .current-project-index
        will-change: transform, opacity
