.custom-cursor
    background: #fff
    border: 1px solid #10120E
    border-radius: 420px
    height: 26px
    width: 26px
    left: 0
    margin-top: -13px
    margin-left: -12px
    mix-blend-mode: exclusion
    pointer-events: none
    position: fixed
    top: 0
    z-index: 1000
    transition: width .1s ease-in, height .1s ease-in, opacity .1s ease-in
