.custom-cursor
    background: #fff
    border: 1px solid #10120E
    border-radius: 420px
    height: 26px
    width: 26px
    left: 0
    margin-top: -13px
    margin-left: -12px
    mix-blend-mode: difference
    pointer-events: none
    position: fixed
    top: 0
    z-index: 1000
    transition: transform .15s cubic-bezier(.4,0,.2,1)
    display: flex
    align-items: center
    justify-content: center
    transform-origin: center
    font-size: 20px
    font-weight: 500

    @media (max-width: 768px)
        display: none

    .cursor-text
        font-size: 7px
        font-weight: 500
        mix-blend-mode: exclusion
        color: #FFFFFF
