<div class="h-full flex align-items-center justify-content-center gap-5">
    <div class="toggle-button">
        @for (language of languages; track language) {
            <button
                class="toggle-button-item"
                [id]="language"
                [class.active]="language === selectedLanguage"
                (click)="changeLanguage(language); moveToggleButtonSelector()">
                <img [src]="'assets/' + language + '.png'" [alt]="language + ' flag'"/>
            </button>
        }
        <div class="toggle-button-selector"></div>
    </div>
</div>
