$bg-color: #0F172B
$surface-0: #01080E
$surface-1: #011627
$surface-2: #011221
$surface-3: #020618
$accent-orange: #FEA55F
$accent-teal: #43D9AD
$accent-red: #E99287
$accent-purple: #C98BDF
$secondary-grey: #607B96
$secondary-teal: #3C9D93
$secondary-blue: #4D5BCE
$secondary-white: #FFFFFF
$lines: #1E2D3D
$gradient-1: #4D5BCE
$gradient-2: #43D9AD

.bg-color
    background-color: $bg-color

.color-orange
    color: $accent-orange

.color-teal
    color: $accent-teal

.color-red
    color: $accent-red

.color-purple
    color: $accent-purple

.color-grey
    color: $secondary-grey

.color-teal
    color: $secondary-teal

.color-blue
    color: $secondary-blue

*
    box-sizing: border-box
    margin: 0
    font-weight: normal

    &::before, &::after
        box-sizing: border-box
        margin: 0
        font-weight: normal

body
    margin: 0
    padding: 0
    background-color: $bg-color
    color: $secondary-white
    font-family: "Fira Code", monospace
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    font-size: 18px
    line-height: normal

main
    height: calc(100vh - 50px)
    width: 100vw
    margin-top: 50px

.container
    max-width: 1320px
    margin: 0 auto

    @media screen and (max-width: 575px)
        max-width: 100%

    @media screen and (min-width: 576px)
        max-width: 540px

    @media screen and (min-width: 768px)
        max-width: 720px

    @media screen and (min-width: 992px)
        max-width: 960px

    @media screen and (min-width: 1200px)
        max-width: 1140px

    @media screen and (min-width: 1400px)
        max-width: 1320px
