$bg-color: #F2F2F2
$on-surface: #000000
$lines: #626262
$lines-2: #FFFFFF

.bg-color
    background-color: $bg-color

*
    box-sizing: border-box
    margin: 0
    font-weight: normal
    cursor: none

    &::before, &::after
        box-sizing: border-box
        margin: 0
        font-weight: normal

html, body
    cursor: none !important
    scroll-behavior: auto !important

html.lenis,
html.lenis body
    height: auto

.lenis.lenis-smooth
    scroll-behavior: auto !important

.lenis.lenis-smooth [data-lenis-prevent]
    overscroll-behavior: contain

.lenis.lenis-stopped
    overflow: hidden

.lenis.lenis-scrolling iframe
    pointer-events: none

a, button, input, textarea, select, [role="button"]
    cursor: none

a
    color: $on-surface

body
    text-rendering: optimizeSpeed
    margin: 0
    padding: 0
    background-color: $bg-color
    color: $on-surface
    font-family: "Montserrat", monospace
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    font-size: clamp(.7rem,1vw,1.2rem)
    line-height: clamp(1.1rem,3vh,1.4rem)

a
    text-decoration: none
    font-family: "Montserrat", monospace
    font-optical-sizing: auto

main
    padding-bottom: 10vh

    section
        padding-left: 15vw
        padding-top: 15vh
        display: flex
        align-items: center
        gap: 10vw

        .section-item
            width: 36vw
            height: clamp(20rem,60vh,40rem)
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: space-between

            &.section-full
                width: 75vw
                justify-content: start
                height: auto

        @media (max-width: 1024px)
            padding-left: 10vw
            padding-top: 10vh
            gap: 0
            flex-direction: column
            align-items: start

            .section-item,
            .section-item-full
                width: 80vw
                height: auto

.divider
    width: 100%
    height: 1px
    background-color: $lines

    @media (max-width: 1024px)
        width: 80vw

// make scrollbar invisible
::-webkit-scrollbar
    width: 0
    height: 0

::-webkit-scrollbar-track
    width: 0
    background: white

::-webkit-scrollbar-thumb
    background-color: white
