@use 'base' as *

.toggle-button
    position: relative
    display: flex
    align-items: center
    justify-content: center
    gap: 20px
    border: 1px solid $lines
    border-radius: 20px

    .toggle-button-item
        border-radius: 16px
        border: none
        cursor: none
        height: 32px
        position: relative
        width: 64px
        background-color: transparent
        color: $on-surface
        font-weight: 500
        display: flex
        align-items: center
        justify-content: center

        img
            height: 32px
            pointer-events: none

    .toggle-button-selector
        border-radius: 16px
        height: 32px
        width: 64px
        position: absolute
        top: 0
        left: 0
        background-color: $on-surface
        transition: transform 0.3s ease-in-out
        z-index: -1

    @media (max-width: 768px)
        .toggle-button-item
            height: 26px
            width: 52px

            img
                height: 24px

        .toggle-button-selector
            height: 26px
            width: 52px
