@use 'base' as *

.btn
    display: inline-flex
    padding: 10px 12px
    justify-content: center
    align-items: center
    gap: 10px
    border-radius: 8px
    transition: all 0.2s ease-in-out
    cursor: pointer
    width: fit-content
    border: none
    height: 40px
    font-size: 14px
    font-weight: 450
    font-family: 'Fira Code', monospace
    text-decoration: none

    &.primary
        background-color: $accent-orange
        color: $surface-0

        &:hover
            background-color: #FFAC6B

    &.secondary
        background-color: $secondary-grey
        color: $secondary-white

        &:hover
            background-color: #263B50

    &.outlined
        background-color: transparent
        border: 1px solid $secondary-white
        color: $secondary-white

        &:hover
            border-color: $secondary-white (-50%)

.btn-icon
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 10px
    transition: all 0.2s ease-in-out
    border: none
    cursor: pointer
    width: fit-content
    border-radius: 8px

    &.text
        background-color: transparent
        color: $secondary-white
        transition: all 0.2s ease-in-out

        &:hover, &:focus
            background-color: rgba($secondary-white, 0.1)
