@use 'base' as *

.card
    border-radius: 12px
    border: 2px solid $lines
    min-height: 324px
    background-color: $surface-3
    height: 100%

    .card-header
        border-bottom: 1px solid $lines
        background-color: $surface-1
        font-size: 16px
        font-weight: 600
        color: $secondary-white
        display: flex
        align-items: center
        background-size: cover
        background-position: top
        background-repeat: no-repeat
        height: 250px
        border-top-left-radius: 12px
        border-top-right-radius: 12px

    .card-body
        padding: 32px
        color: $secondary-grey
        font-size: 20px
        border-top: 1px solid $lines
        display: flex
        flex-direction: column
        gap: 24px
        justify-content: center
        border-bottom-left-radius: 12px
        border-bottom-right-radius: 12px
