@use './base' as *

.footer
    height: 50px
    width: 100vw
    border-top: 1px solid $lines
    display: flex
    align-items: center
    justify-content: space-between
    color: $secondary-grey
    background-color: $bg-color

    a
        display: flex
        align-items: center
        justify-content: center
        transition: all 0.2s ease-in-out
        color: $secondary-grey
        text-decoration: none
        height: 100%
        padding: 0 16px
        gap: 8px

        svg
            font-size: 18px
            fill: $secondary-grey
            transition: all 0.2s ease-in-out

        &:hover
            color: $secondary-white
            svg
                fill: $secondary-white

    .left-footer
        display: flex
        align-items: center
        height: 100%

        a
            border-right: 1px solid $lines

    .right-footer
        display: flex
        align-items: center
        height: 100%

        a
            border-left: 1px solid $lines
