@use 'base' as *

label
    margin: 0
    color: $accent-grey
    font-weight: 450

input[type="text"],
input[type="email"]
    border: 1px solid $lines-2
    background-color: $surface-3
    color: $accent-grey
    padding: 12px 16px
    border-radius: 8px
    outline: none
    font-size: 16px
    font-weight: 450
    font-family: 'Fira Code', monospace
    transition: border-color 0.2s ease-in-out

    &:focus
        border-color: #CAD5E2

textarea
    border: 1px solid $lines-2
    background-color: $surface-3
    color: $accent-grey
    padding: 12px 16px
    border-radius: 8px
    outline: none
    font-size: 16px
    font-weight: 450
    font-family: 'Fira Code', monospace
    transition: border-color 0.2s ease-in-out
    resize: vertical

    &:focus
        border-color: #CAD5E2
