@font-face
    font-family: 'Brice SemiBold'
    src: url('../assets/fonts/Brice-Semi-Bold.otf') format('opentype')
    font-weight: 450
    font-style: normal

.font-bold
    font-family: 'Brice SemiBold', serif

.headline
    font-size: clamp(4rem,7vw,6rem)
    font-style: normal
    font-weight: 450
    line-height: 1
    white-space: nowrap

.subheadline
    font-size: 22px
    font-style: normal
    font-weight: 450
    line-height: normal

.body-text
    font-size: 18px
    font-style: normal
    font-weight: 450
    line-height: normal

.labels, .code-snippets
    font-size: 16px
    font-style: normal
    font-weight: 450
    line-height: normal

@media screen and (max-width: 768px)
    .headline
        font-size: 48px
        line-height: 48px

    .subheadline
        font-size: 20px

    .body-text
        font-size: 16px

    .labels, .code-snippets
        font-size: 14px
