#home-section
    max-width: 1000px

.home-gradient
    position: absolute
    filter: blur(87px)
    opacity: 0.4
    width: 424px
    height: 322px

.gradient-green
    right: 24%
    top: 20%
    background: #43D9AD
    transform: rotate(-94.3deg)

.gradient-blue
    right: 14%
    top: 48%
    background: #4D5BCE
    transform: rotate(13.51deg)

@media (max-width: 768px)
    .home-gradient
        width: 255px
        height: 277px

    .gradient-green
        right: 26%

    .gradient-blue
        right: 10%

    #home-section
        padding-left: 0 !important
        max-width: 100vw
