<nav class="hidden md:flex">
    <div class="left-nav">
        <a [routerLink]="['/hello']" class="home-link">{{ brand }}</a>
        <div class="hug flex align-items-center">
            @for (item of navItems; track item.label) {
                <a [routerLink]="[item.path]" [routerLinkActive]="'active'">{{ item.label | translate }}</a>
            }
        </div>
    </div>
    <div class="right-nav flex">
        <app-language-menu></app-language-menu>
        <a [routerLink]="[contactItem.path]" [routerLinkActive]="'active'">{{ contactItem.label | translate }}</a>
    </div>
</nav>

<nav class="flex md:hidden">
    <a [routerLink]="['/hello']" class="home-link">{{ brand }}</a>
    <div class="flex">
        <app-language-menu #languageMenu (click)="closeMenu()"></app-language-menu>
        <button class="btn-icon text" (click)="languageMenu.closeMenu(); toggleMenu()">
            <i class="material-symbols-rounded">menu</i>
        </button>
    </div>
</nav>

<div class="drawer" [class.open]="isMenuOpen()">
    @for (item of drawerItems(); track item.label) {
        <a [routerLink]="[item.path]" [routerLinkActive]="'active'" (click)="closeMenu()">{{ item.label | translate }}</a>
    }
</div>
