:root {
    --bg-color: #011627;
    --surface-0: #01080E;
    --surface-1: #011627;
    --surface-2: #011221;

    --accent-orange: #FEA55F;
    --accent-teal: #43D9AD;
    --accent-red: #E99287;
    --accent-purple: #C98BDF;

    --secondary-grey: #607B96;
    --secondary-teal: #3C9D93;
    --secondary-blue: #4D5BCE;
    --secondary-white: #FFFFFF;

    --lines: #1E2D3D;

    --gradient-1: #4D5BCE;
    --gradient-2: #43D9AD;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    overflow: hidden;
}

main {
    height: calc(100vh - 50px);
    overflow: auto;
}
