.btn {
    display: inline-flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn.primary {
    background-color: var(--accent-orange);
    color: var(--surface-0);
}

.btn.primary:hover {
    background-color: #FFAC6B;
}

.btn.secondary {
    background-color: var(--secondary-grey);
    color: var(--secondary-white);
}

.btn.secondary:hover {
    background-color: #263B50;
}

.btn.outlined {
    background-color: transparent;
    border: 1px solid var(--secondary-white);
    color: var(--secondary-white);
}

.btn.outlined:hover {
    border-color: var(--secondary-white) - 50%;
}