.headline {
    font-size: 62px;
    font-style: normal;
    font-weight: 450;
    line-height: 62px;
}

.subheadline {
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.body-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.labels {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.code-snippets {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .headline {
        font-size: 48px;
        line-height: 48px;
    }

    .subheadline {
        font-size: 20px;
    }

    .body-text {
        font-size: 16px;
    }

    .labels {
        font-size: 14px;
    }

    .code-snippets {
        font-size: 14px;
    }

}
