.headline {
    font-size: 62px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.subheadline {
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.body-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.labels {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.code-snippets {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
