<section class="flex flex-column gap-3">
    @for (node of renderedNodes(); track $index) {
        @if (node.tag === 'h1') {
            <h1 class="color-blue">{{ node['text'] }}</h1>
        }
        @if (node.tag === 'h2') {
            <h2 class="color-orange">{{ node['text'] }}</h2>
        }
        @if (node.tag === 'h3') {
            <h3 class="color-red">{{ node['text'] }}</h3>
        }
        @if (node.tag === 'h4') {
            <h4>{{ node['text'] }}</h4>
        }
        @if (node.tag === 'h5') {
            <h5>{{ node['text'] }}</h5>
        }
        @if (node.tag === 'h6') {
            <h6>{{ node['text'] }}</h6>
        }

        @if (node.tag === 'p') {
            <p>{{ node['text'] }}</p>
        }

        @if (node.tag === 'ul') {
            <ul>
                @for (it of node['items']; track $index) {
                    <li>{{ it }}</li>
                }
            </ul>
        }

        @if (node.tag === 'ol') {
            <ol>
                @for (it of node['items']; track $index) {
                    <li>{{ it }}</li>
                }
            </ol>
        }

        @if (node.tag === 'pre') {
            <pre><code>{{ node['text'] }}</code></pre>
        }

        @if (node.tag === 'img') {
            <img [src]="'assets/projects/' + node['src']" [alt]="node['alt']" class="w-full md:w-8"
                 style="border-radius: 18px"/>
        }
    }
</section>
