<nav>
    <div class="left-nav">
        <a [routerLink]="['/hello']" class="home-link">{{ brand }}</a>
        <div class="flex align-items-center">
            @for (item of navItems; track item.label) {
                <a
                    [routerLink]="[item.path]"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: item.routeExact }">
                    {{ item.label | translate }}
                </a>
            }
        </div>
    </div>
    <div class="right-nav flex">
        <app-language-menu></app-language-menu>
    </div>
</nav>
